# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
gulpfile.js
ionic.project
.editorconfig
lib/
scss/
resources/
.io-config.json
hooks/

